@import './components/title'
@import './components/input'
@import './components/button-with-container'

.login-container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

form
  color: #acaeaf
  background: #4e5154
  width: fit-content
  box-sizing: border-box
  padding: 20px 100px
  border-radius: 20px